.DS_Store

/system
/vendor
/application/vendor
/uploads
/uploads/*
.htaccess
access.log
error.log

### Composer ###
composer.lock

### https://github.com/github/gitignore/blob/master/CodeIgniter.gitignore ###
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess

/nbproject/private/

####### Begin, Config Files #########
#/application/config/*
/application/config/local/database.php
/application/config/development/database.php
/application/config/testing/database.php
/application/config/production/database.php
####### End, Config Files #########
